*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container{
    margin-top: 1vh;
    padding: 2vw;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  border-radius: 4vw;
  /* row-gap: 4vw; */
  box-shadow: 2px 2px 8px  black ;
}

.box{
    margin: 2vw ;
    padding: 4vw;
    border-radius: 5vh;
    font-size: 2em;
    font-family: poppins;
    border-style: none;
    border: 1px solid black;
}

