* {
  padding: 0%;
  margin: 0%;
  font-family: poppins;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg.png);
  height: 100px;
}

header {
  display: flex;
  background-color: black;
  align-items: center;
}

.logo img {
  height: 8vh;
  padding: 5px 30px;
  margin: 10px;
  border-right: 1px solid white;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 15%;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: white;
}

nav a:hover {
  color: rgb(180, 20, 180);
}
.buy {
  color: white;
  padding: 5px 20px;
  background-color: rgb(180, 20, 180);
  border-radius: 5px;
  margin-left: 35vw;
  text-decoration: none;
}

.buy:hover {
  color: rgb(180, 20, 180);
  background-color: white;
  font-weight: 400;
  text-shadow: 1px 1px black;
}

main ul {
  display: flex;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  flex-direction: column;
}

main li {
  list-style: none;
}

main p {
  margin-top: 100px;
  text-align: center;
  color: white;
  font-weight: 500;
  line-height: 60px;
  font-size: 55px;
  row-gap: 10px;
}
main span {
  font-weight: 400;
  font-size: 20px;
  position: relative;
  bottom: 10px;
}
main ul li a {
  color: white;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 800px;
  background-color: rgb(180, 20, 180);
  border-radius: 5px;
  text-decoration: none;
}

main a:hover {
  color: rgb(180, 20, 180);
  background-color: white;
  font-weight: 400;
  text-shadow: 1px 1px black;
}
