*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
height: 100vh;
display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;
font-size: 1.5em;
row-gap: 6vh;
font-family: 'Poppins', sans-serif;

}
form{
    position: fixed;
    top: 20vh ;
    display: flex;
    flex-direction: column;
    width: 40vw;
    row-gap: 2vh;

}
input {
    padding: 1vh;
    border-radius: 8px;
    
}
button{
    font-size: 1em;
    border-radius: 8px;
    margin-top: 1vh;
    
}
.para{
    text-align: center;
    position: absolute;
    bottom: 28vh;
    padding: 10px 0px;
    /* display: none; */
    height: 10vh;
    width: 40vw;
    /* border: 1px solid black; */
    border-radius: 20px;
}