* {
  padding: 0%;
  margin: 0%;
}

/* body  */
body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.logo img {
  margin-top: 40px;
  position: relative;
  bottom: 18px;
  height: 6vh;
  margin-bottom: 0px;
}
/* menu  start */
.menu {
  position: relative;
  right: 18vw;
  width: fit-content;
}

.menu ul {
  display: flex;
  width: 20vw;
}
.smallmenu ul {
  display: flex;
  flex-direction: column;
}

.menu ul li,
.smallmenu ul li {
  list-style: none;
  margin: 10px;
  padding: 5px;
}
.menu ul li a,
.smallmenu ul li a {
  text-decoration: none;
  font-weight: 400;
}

.menu ul li a:hover,
.smallmenu ul li a:hover {
  color: rgb(11, 18, 114);
}


/* contact button and res_contact button  */
.contact a,
.res_contact a {
  background-color: rgb(98, 98, 219);
  color: white;
  padding: 10px;
  text-decoration: none;
  border: 1px solid white;
  align-items: center;
  border-radius: 8px;
}

.contact a:hover,
.res_contact a:hover {
  background-color: white;
  color: rgb(54, 54, 158);
  border: 1px solid rgb(98, 98, 219);
  transition-duration: 200ms;
}
/* main scetion  */
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: 9%;
}

.heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  color: #3c2e60;
}

.heading span {
  color: #5955b3;
}

.left p {
  margin-top: 20px;
  font-weight: 200;
}

/* service button  */

.left a {
  background-color: rgb(98, 98, 219);
  color: white;
  padding: 10px;
  margin-top: 40px;
  width: fit-content;
  text-decoration: none;
  border-radius: 8px;
}

.left a:hover {
  background-color: white;
  color: rgb(55, 55, 151);
  border: 1px solid rgb(98, 98, 219);
  transition-duration: 200ms;
}

.right {
  width: fit-content;
}

.right img {
  width: 40vw;
  margin-right: 50px;
  margin-top: 50px;
}
/* mobile style  */
.smallmenu {
  display: none;
  background-color: white;
  padding: 10px 40px;
  height: 100%;
}
.humberger {
  display: none;
  font-size: 32px;
  font-weight: 600;
  color: #3c2e60;
  z-index: 20;
}
@media (max-width: 1024px) {
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .smallmenu {
    display: block;
    position: absolute;
    left: -500px;
    top: 0px;
    transition: all 500ms ease-out;
    z-index: 10;
    box-shadow: 0px 2px 12px 0px rgb(57, 143, 201);
  }
  .humberger {
    display: block;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: space-around;
    text-align: center;
  }
  .left {
    place-items: center;
    padding-bottom: 40px;
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
  }
  .right {
    margin: 48px 10px;
    padding: 12px;
  }
  .right img {
    margin: 0px;
    width: 62vw;
    z-index: -20;
  }
}
