*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    font-family: poppins;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(178, 212, 252, 0.459);

}
#submitbtn{
    padding: 10px 20px ;
    font-size: 1.2em;
    border-style: none;
    border-radius: 10px ;
    background-color: rgb(64, 192, 64);
    box-shadow: 0px 0px 8px 0px  black ;
}
#submitbtn:hover {
    cursor: pointer;
    background-color: rgb(54, 155, 54);

}
#quescontainer{
    margin-top: 2vh;
    background-color: rgba(154, 195, 243, 0.596);
    border-radius: 20px;
    padding: 8vh;
}
input{
    margin: 0px 10px;
}
/* #results{
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px ;
    background-color: rgb(102, 209, 102);
} */